.container {
 
}

.card ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.card ul li {
    list-style: none;
    flex: 0 0 33.333333%;
    padding: 20px;
}

.card {
    width: 940px;
    margin-top: 30px;;
}