 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    }
  
.container {
    display: flex;
    justify-content: center;
    width: 960px;
    min-height: 100vh;
}

  input {
      width: 300px;
      
  }

 form {
     display: flex;
    justify-content: center;
 }

.formulaire {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    border: 1px black;
   
}


.container-form {
    background-color: #E7E7E7;
    margin-top: 5em;
    width: 500px;
    height: 500px;
    border-radius: 5%;

}

h2 {
    display: flex;
    justify-content: center;
}


.form-rounded {
    border-radius: 0.5rem;
    }